body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: rgb(57, 185, 57);
}

.quem-somos{
    background-color: rgb(93, 176, 231);
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(226, 168, 43);
    color: brown;
}

.bg-footer{
    background-color: black;
    color: white;
}